<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Update User</h1>
	<form th:action="@{/update-usuario}" th:object="${user}" action="#"  method="POST">
        <input type="hidden" name="id" th:value="${user.id}" /><br>
		Name<input type="text" name="name" th:value="${user.name}"/><br>
		E-mail<input type="text" name="email" th:value="${user.email}"/><br>
		<input type="submit"/>
	</form>
	<p class="big-font">
		Voltar para <a href="/" class="underline">home page</a>
	</p>
</body>
</html>